<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-visit-tulip-heading" jhiTranslate="jhipsterSampleApplicationApp.visit.home.createOrEditLabel">Create or edit a Visit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.diagnosis" for="field_diagnosis">Diagnosis</label>
                    <input type="text" class="form-control" name="diagnosis" id="field_diagnosis"
                           formControlName="diagnosis"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.prescription" for="field_prescription">Prescription</label>
                    <input type="text" class="form-control" name="prescription" id="field_prescription"
                           formControlName="prescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.clinicalHistory" for="field_clinicalHistory">Clinical History</label>
                    <input type="text" class="form-control" name="clinicalHistory" id="field_clinicalHistory"
                           formControlName="clinicalHistory"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.visit" for="field_visit">Visit</label>
                    <select class="form-control" id="field_visit" name="visit" formControlName="visit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('visit')!.value?.id ? editForm.get('visit')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{patientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
