<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attachment-tulip-heading" jhiTranslate="jhipsterSampleApplicationApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="VISIT">{{'jhipsterSampleApplicationApp.AType.VISIT' | translate}}</option>
                        <option value="PATIENT">{{'jhipsterSampleApplicationApp.AType.PATIENT' | translate}}</option>
                        <option value="DOCTOR">{{'jhipsterSampleApplicationApp.AType.DOCTOR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.data" for="field_data">Data</label>
                    <div>
                        <div *ngIf="editForm.get('data')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('dataContentType')!.value, editForm.get('data')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('dataContentType')!.value}}, {{byteSize(editForm.get('data')!.value)}}</span>
                            <button type="button" (click)="editForm.patchValue({data: null});editForm.patchValue({dataContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_data" (change)="setFileData($event, 'data', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="data" id="field_data"
                           formControlName="data"/>
                    <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType"
                           formControlName="dataContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.vAttachment" for="field_vAttachment">V Attachment</label>
                    <select class="form-control" id="field_vAttachment" name="vAttachment" formControlName="vAttachment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="visitOption.id === editForm.get('vAttachment')!.value?.id ? editForm.get('vAttachment')!.value : visitOption" *ngFor="let visitOption of visits; trackBy: trackById">{{visitOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.attachment.pAttachment" for="field_pAttachment">P Attachment</label>
                    <select class="form-control" id="field_pAttachment" name="pAttachment" formControlName="pAttachment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('pAttachment')!.value?.id ? editForm.get('pAttachment')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{patientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
